venv/
__pycache__/
*.pyc

*.sqlite
!tests/fixtures/test_database.sqlite
tests/fixtures/*.building
*.xlsx
*.csv

bams/
fastq/
variant_calls/
QC_metrics/
wet_lab_summary_PDFs/
schema/
LupusN_Data/

.obsidian/
docs/
file.txt
tests/
pyproject.toml
